<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
<th:block th:include="/_header"> </th:block>
<th:block th:include="/_menu"> </th:block>

<div class="page-title">Product List</div>

<div class="product-preview-container" th:each="product : ${productList}">
  <ul>
    <li>Product ID: <span th:utext="${product.id}"></span></li>
    <li>Name: <span th:utext="${product.name}"></span></li>
    <li>Category: <span th:utext="${product.category}"></span></li>
    <li>Ingredients: <span th:utext="${product.ingredients}"></span></li>
    <li>Restaurant Name: <span th:utext="${product.restaurantName}"></span></li>
    <li>Price: <span th:utext="${#numbers.formatDecimal(product.price, 1, 2,'COMMA')}"></span></li>
    <li>
      <a th:href="@{|/buyProduct?id=${product.id}|}">Buy Now</a>
    </li>
  </ul>
</div>

<br/>
<th:block th:include="/_footer"> </th:block>

</body>
</html>